@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #ffffff;
  --dark: #000000;
  --primary: #14213d;
  --secondary: #fca311;
  --info: #e5e5e5;
  --success: #06b96a;
  --warning: #e9d005;
  --danger: #fc1702;
}

/*----- Niveaux de titres -----*/

h1,
.h1,
h3,
.h3,
h4,
.h4,
h6,
.h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--white);
}

h1,
.h1 {
  font-size: 40px;
  font-weight: bold;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 32px;
}

h4,
.h4 {
  font-size: 28px;
}

h5,
.h5 {
  font-size: 24px;
  font-weight: bold;
}

h6,
.h6 {
  font-size: 20px;
}

/*----- Styles Généraux -----*/
p {
  color: var(--info);
}

h5,
.h5 {
  color: var(--secondary);
}
/*----- Section Hero -----*/
