@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --orange: #fca311;
  --navy: #14213d;
  --light-grey: #e5e5e5;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*----- Navbar -----*/
.navbar {
  background-color: var(--white);
}

.nav-logo-img {
  max-width: 64px;
  height: auto;
}

.user-profil-icon {
  max-width: 64px;
  height: auto;
}

.navbar.artwork {
  background-color: rgba(0, 0, 0, 0);
  font-size: 2em;
  color: var(--navy);
}

.nav-chevron {
  color: var(--navy);
}

/*----- Footer -----*/
.footer {
  background-color: var(--navy);
  color: var(--light-grey);
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tim-logo {
  width: 200px;
}

.tim-colone {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----- Main -----
main {
  padding-top: 70px;
}*/

/*----- Formulaire de recherche et liste de filtres -----*/
.searchbar {
  margin: 20px 0;
}

.search-input {
  border: #00000000;
  box-shadow: 0px -1px 10px 2px #00000014;
  border-radius: 10px;
}

.filter-bar {
  margin: 0 15px;
}

.button-list {
  list-style: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.button-list li {
  display: inline-block;
  margin-right: 10px;
}

.swiper-filters button {
  height: 40px;
  width: auto;
}

.swiper-slides {
  width: auto;
  height: 100%;
}

.swiper-slides-active {
  width: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

/*----- Section En Vedette -----*/
#sectionVedette {
  width: 140%;
}

.card-image {
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  background-image: linear-gradient(to top, #14213d, #00000000);
  border-radius: 15px;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #14213dc8, #00000000);
  border-radius: 15px;
}

#sectionVedette .card {
  text-decoration: none;
  min-width: 200px;
  border: none;
  border-radius: 15px;
}

#sectionVedette .card-body {
  padding-left: 0;
  padding-right: 0;
}

#sectionVedette h5 {
  font-size: 1.2em;
  margin-bottom: 2px;
}

#sectionVedette p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.carteDH {
  font-size: 0.7em;
  color: var(--white);
}

.carte-info {
  margin-top: 15px;
  font-size: 0.7em;
  color: var(--orange);
}

/*----- Section Autres -----*/
#sectionAutres {
  margin-top: 20px;
}

#sectionAutres .card {
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}

#sectionAutres h5 {
  font-size: 1.2em;
  margin-bottom: 2px;
}

#sectionAutres p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

#sectionAutres img {
  height: 35vh;
}

/*----- page artwork -----*/
.artwork-hero {
  top: 33vh;
  width: 100%;
  padding: 0%;
  z-index: -1;
  overflow: hidden;
}

.artwork-page-content {
  background-color: rgb(255, 255, 255);
  border-radius: 30px 30px 0px 0px;
  transform: translateY(-35px);
  width: 100%;
  padding: 0%;
  box-shadow: 0px -1px 10px 2px #00000027;
}

.artwork-header {
  padding: 30px;
  padding-bottom: 50px;
  width: auto;
}

.artwork-card-section {
  padding: 0 30px;
  padding-bottom: 50px;
}
.artwork-accordion {
  margin-top: 64px;
  color: var(--navy);
}

.artwork-artist-card img {
  overflow: hidden;
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 0px 10px 2px #0000004e;
  border-radius: 15px 15px 0px 0px;
}

.artwork-artist-card p {
  color: var(--navy);
}

.artwork-artist-card {
  border-radius: 15px 15px 15px 15px;
  border: none;
  box-shadow: 0px -1px 10px 2px #00000027;
}

.separation {
  background-color: var(--navy);
  border-radius: 4px;
  padding: 5px 0px;
  display: flexbox;
  justify-content: center;
  margin: 36px 0;
  margin-bottom: 16px;
}

.txt-apropos {
  margin-left: 10px;
}
.txt-apropos p {
  color: var(--navy);
}


/*----- Styles Généraux -----*/

body {
  overflow-x: hidden;
}

.custom-btn {
  background-color: var(--orange);
  color: var(--white);
}

.custom-btn:active {
  background-color: var(--white);
  border-color: var(--orange);
  color: var(--orange);
}

.search-input {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: var(--navy);
}
.search-input input {
  padding-left: 30px;
  color: var(--navy);
}

.overflow-hidden {
  overflow: hidden;
}

h1 {
  position: relative;
  color: var(--orange);
  font-size: 2.5em;
  font-weight: 700;
}

h3 {
  color: var(--white);
  font-size: 1.6em;
  margin: 0%;
  margin-left: 10px;
}

/*----- Section Hero -----*/

/*-----font poppins -----*/

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
