/*----- Styles Généraux -----*/
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap")
    format("opentype");
  font-family: "Poppins", sans-serif;
}

:root {
  --orange: #fca311;
  --navy: #14213d;
  --light-grey: #e5e5e5;
  --white: #ffffff;
  --black: #000000;
}

body {
  background-color: var(--navy);
  color: var(--light-grey);
  font-family: "Poppins";
}

main {
  padding: 180px;
}

.navbar-brand {
  width: 70px;
  height: auto;
}

.description-app {
  font-size: 1.3rem;
}

.nav-link {
  font-size: 1.1rem;
}

/*----- Section Hero -----*/

h1 {
  padding-top: 5%;
}

.ensavoirplus-btn,
.telecharger-btn {
  background-color: var(--navy);
  border: 2px solid white;
  color: var(--orange);
  margin-left: 2%;
  margin-top: 4%;
}

.mobile-frame iframe {
  width: 100%;
  max-width: 70%;
  height: calc(9 / 5 * 100%);
  border: 2px solid var(--white);
  border-radius: 30px;
  display: flex;
}

.card {
  height: 100%;
}

.card-text {
  margin-top: 5%;
  font-size: 100%;
  color: var(--black);
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--black);
}

/*----- Section Footer -----*/
footer p > a[href="https://github.com/ikramert/ikrame-jeremy-app-festival-art/tree/main"]
{
  text-decoration: underline;
  color: var(--light-grey);
  transition: font-size 0.2s;
}

footer p > a[href="https://github.com/ikramert/ikrame-jeremy-app-festival-art/tree/main"]:hover
{
  color: #ff6600;
  font-size: 1.02em;
}
