/*----- Styles Généraux -----*/
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap")
    format("opentype");
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #ffffff;
  --dark: #000000;
  --primary: #14213d;
  --secondary: #fca311;
  --info: #e5e5e5;
  --success: #06b96a;
  --warning: #e9d005;
  --danger: #fc1702;
}

body {
  background-color: var(--primary);
  font-family: "Poppins";
}

main {
  padding: 180px;
}

.navbar-brand {
  width: 5%;
  height: auto;
}

.description-app {
  font-size: 1.3rem;
}

.nav-link {
  font-size: 1.1rem;
}

/*----- Section Hero -----*/

h1 {
  padding-top: 5%;
}

.text-fonctionnalites,
.text-temoignanes {
  color: var(--secondary);
}

.ensavoirplus-btn,
.telecharger-btn {
  background-color: var(--primary);
  border: 2px solid white;
  color: var(--secondary);
  margin-left: 2%;
  margin-top: 4%;
}

.mobile-frame iframe {
  width: 100%;
  max-width: 80%;
  height: calc(5 / 9 * 100%);
  border: 2px solid var(--white);
  border-radius: 30px;
}

.card {
  height: 100%;
}

.card-text {
  margin-top: 5%;
  font-weight: 600;
  color: var(--dark);
}

.card-title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--dark);
}

.text-temoignages {
  font-size: 1.2rem;
}

#faq {
  margin-top: 10%;
}

#infolettre {
  background-image: url("../assets/images/gallery.jpg");
  color: var(--dark);
  background-size: cover;
  background-position: center;
  margin-top: 10%;
}

.infolettre-content-container {
  width: 50%;
  background-color: var(--secondary);
  color: var(--dark);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
/*----- Section Footer -----*/
footer p > a[href="https://github.com/ikramert/ikrame-jeremy-app-festival-art/tree/main"]
{
  text-decoration: underline;
  color: var(--info);
  transition: font-size 0.2s;
}

footer p > a[href="https://github.com/ikramert/ikrame-jeremy-app-festival-art/tree/main"]:hover
{
  color: #ff6600;
  font-size: 1.02em;
}
